version: "3.8"

services:
  app:
    image: mcr.microsoft.com/devcontainers/universal:2
    volumes:
      - ..:/workspace:cached
    ports:
      - "3000:3000"
      - "5000:5000"
    command: sleep infinity
